<style type="text/css">
          .div               { font-size: 16px; ; font-family: verdana, arial, helvetica, sans-serif; font-weight:800; 
                                    margin:5px 0px 0px 0px;  clear:both;}
          .div1                 {  padding:5px 2px 2px 0px; font-size: 16px;color: #000000;font-family: verdana, arial, helvetica, 
                                   sans-serif;font-weight:400;}
                                
@media only screen and (max-width: 600px){
        .hide                   {display:none !important;}
		.fullImage img          {   width:100%!important; height:auto!important; text-align:center!important; clear:both;}
		.fullCenterf            {   text-align:right!important; padding-left:86px !important;}479
		.fullCenterf1           {   text-align:left !important; padding-right:10px !important;}
        table[class=fullCenter] {   width:100%!important; text-align:center!important; clear:both;}	
		table[class=fullImage]  {   width:100%!important; height:auto!important; text-align:center!important; clear:both;}	
        td[class=fullCenter]    {   width:100%!important; text-align:center!important; clear:both;}
		table[class=full]       {   width:100%!important; clear:both;}
        table[class=mobile]     {   width:100%!important; padding-left:0px; padding-right:0px; clear:both;}
		td[class=logo]          {   display:block !important; width:100%!important; align:center!important; text-align:center!important;
                                      clear:both; margin-top:5px;!important; clear:both; }
        td[class=trailer]          {   display:block !important; width:100%!important; align:center!important; text-align:center!important;
                                      clear:both; padding-bottom:10px; margin-top:5px;!important; clear:both;} 
        td[class=none]          {    display:none; margin-top:5px;!important; clear:both;  }
        td[class=what]          {  padding:5px 12px 5px 0px; font-size:18px;color: #000000;font-family: verdana, arial, helvetica, 
                                   sans-serif;font-weight:400;}
        td[class=reviiew]        { font-size: 15px; ; font-family: verdana, arial, helvetica, sans-serif; font-weight:400; 
                                    padding:5px 10px 5px 0px;  clear:both; margin-top:5px;!important; clear:both;}
			
			
			
        
}

@media only screen and (max-width: 479px){
        .hide                   {display:none !important;}
        .fullImage img          {   width:100%!important; height:auto!important; text-align:center!important; clear:both;}
		table[class=fullImage]  {   width:100%!important; height:auto!important; text-align:center!important; clear:both;}
		td[class=fullCenter]    {   width:100%!important; text-align:center!important;	clear:both;}
		table[class=full]       {   width:100%!important; clear:both;}	
        table[class=fullCenter] {   width:100%!important; text-align:center!important; clear:both;}
        td[class=logo]          {   display:block !important; width:100%!important; align:center; text-align:center!important; clear:both;}
        td[class=cscore]          {    display:block !important; width:auto!important; align:center; text-align:center!important; clear:both;}

} 
</style><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<title></title>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

<table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="background:#ffffff;">
	<tbody>
        <tr  >
		<td width="600" valign="top">
		<div  >
			
			<!-- Wrapper -->
			<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="background:#ffffff;">
				<tbody>
                    <tr>
                        <td> 
                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="background:#ffffff;">
                                <tbody>
                                    <tr>
                                        <td width="100%"><!-- Logo -->
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullImage">
                                            <tbody>
                                                <tr>
                                                    <td align="left" width="15%" class=" ">
                                                    <a target="_blank" href="https://itunes.apple.com/us/app/cinebee/id994818915?ls=1&mt=8">
                                                    <img alt="" src="images/appstore.png" style="padding-top:10px;"  ></a><!-- height -->
                                                    </td>
                                                    <td width="2%" ></td>
                                                    <td align="right" width="15%" class=" ">
                                                    <a target="_blank" href="https://play.google.com/store/apps/details?id=in.cinebee">
                                                    <img alt="" src="images/google-play.png" style="padding-top:10px;"  ></a><!-- height -->
                                                    </td>
                                                    <td width="40%" > 
                                                    </td> 
                                                    <td align="right" width="20%" class="fullImage">
                                                    <a target="_blank" href="https://www.cinebee.in/main/seo/home">
                                                    <img alt="" src="images/logo1.png" style="padding-top:10px;"  ></a><!-- height -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </td>		
                                    </tr>		
                                </tbody>
                            </table>  <!-- End logo -->
                            
                            <!-- <table><tr><td height="10"></td></tr></table> --> <!-- spce gap -->
                            
                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="background:#020102;">
                                <tbody>
                                    <tr>
                                        <td    width="100%"><!-- movie banner starts-->
                                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullImage">
                                            <tbody>
                                                <tr>
                                                    <td width="100%" align="center" style=" background-color:#ffffff; border-right:0px solid;  "  class="logo">
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <img src="images/hero.png"   ></a><!-- movie banner -->
                                                    </td>                                            
                                                </tr>
                                                <tr>
                                                    <td height="10" width="100%" align="center" style=" background-color:#89cef7; border-right:0px solid;  "  class="logo">
                                                        
                                                    </td>                                            
                                                </tr>
                                            </tbody>
                                            </table>
                                        </td>		
                                    </tr>		
                                </tbody>
                            </table> <!-- end of movie banner -->
                            
                            <!-- <table><tr><td height="5"></td></tr></table> --> <!-- balnk space -->
                            
                            <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="background:#ffffff;">
                                <tbody>
                                    <tr>
                                        <td   style="background-color:#2d2d2d;" width="100%"><!--  -->
                                            <table width="500" border="0" cellpadding="0" cellspacing="0" align="center"  
                                            style="background-color:#444444; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullImage">
                                            <tbody>
                                                <tr>
                                                    <td width="150" align="center" style=" background-color:#777777; border-right:0px solid; font-size: 16px; font-color:#00000; font-family: verdana, arial, helvetica, sans-serif; font-weight:400; margin:px 0px 0px 0px; "  class="logo">
                                                    
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <div class=" ">TRENDING TRAILERS VIEW MORE</div></a><!-- hero banner -->
                                                        
                                                    </td>
                                                     
                                                    <td width="350" align="center" style=" background-color:#444444; border-right:0px solid;  "  class="logo">
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <img src="images/T1.png"   ></a><!-- hero banner -->
                                                        <div style="font-color:#000000;"class="div">KUTRAME THANDANAI</div>
                                                    </td>
                                                    
                                                    
                                                </tr>
                                            </tbody>
                                            </table>
                                        </td>		
                                    </tr>		
                                </tbody>
                            </table> <!-- end of the movies heroes -->
                            
                           <!--  <table><tr><td height="5"></td></tr></table> --> <!-- balnk space -->
                            
                            <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="background:#ffffff;">
                                <tbody>
                                    <tr>
                                        <td    width="100%"><!-- trailer banner starts-->
                                            <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullImage">
                                            <tbody>
                                                <tr>
                                                    <td width="250" align="center" style=" background-color:#444444; border-right:0px solid;  "  class="logo" >
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <img src="images/T2.png"   width="250"      >
                                                        <div > KABALI</div> </a>
                                                        
                                                        <!-- trailer banner -->
                                                    </td>
                                                    <td width="250" align="center" style=" background-color:#444444; border-right:0px solid;  "  class="logo" >
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <img src="images/T3.png"   width="250"    >
                                                        <div > KABALI</div></a>
                                                        
                                                        <!-- trailer banner -->
                                                    </td> 
                                                </tr>
                                            </tbody>
                                            </table>
                                        </td>		
                                    </tr>		
                                </tbody>
                            </table> <!-- end of movie trailer head -->
                            
                            <!--  <table><tr><td height="5"></td></tr></table> --> <!-- balnk space -->
                            
                            <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="background:#ffffff;">
                                <tbody>
                                    <tr>
                                        <td    width="100%"><!-- trailer of movies start  -->
                                            <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullImage">
                                            <tbody>
                                                <tr>
                                                    <td width="165" align="center" style=" background-color:#ffffff; border-right:0px solid;  "  class="trailer">
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <img src="images/I1.png"   ></a><!-- tamil movie -->
                                                        <!--  <div class="div1">TRAILER 1</div> -->
                                                    </td>
                                                    <!-- <td width="10"></td> -->
                                                    <td width="165" align="center" style=" background-color:#ffffff; border-right:0px solid;  "  class="trailer">
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <img src="images/I1.png"   ></a><!-- english movie -->
                                                         <!-- <div class="div1">TRAILER 2</div> -->
                                                    </td>
                                                    <!-- <td width="10"></td> -->
                                                    <td width="165" align="center" style=" background-color:#777777; border-right:0px solid;  "  class="trailer">
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        TRENDING REVIEWS VIEW MORE</a><!-- telgu movie -->
                                                          
                                                    </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </td>		
                                    </tr>		
                                </tbody>
                            </table>
                            <!-- <table><tr><td height="5"></td></tr></table> --> <!-- balnk space -->
                             <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="background:#ffffff;">
                                <tbody>
                                    <tr>
                                        <td    width="100%"><!-- trailer of movies start  -->
                                            <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullImage">
                                            <tbody>
                                                <tr>
                                                    <td width="165" align="center" style=" background-color:#ffffff; border-right:0px solid;  "  class="trailer">
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <img src="images/I1.png"   ></a><!-- tamil movie -->
                                                         <!-- <div class="div1">TRAILER 1</div> -->
                                                    </td>
                                                    <!-- <td width="10"></td> -->
                                                    <td width="165" align="center" style=" background-color:#ffffff; border-right:0px solid;  "  class="trailer">
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <img src="images/I1.png"   ></a><!-- english movie -->
                                                         <!-- <div class="div1">TRAILER 2</div> -->
                                                    </td>
                                                    <!-- <td width="10"></td> -->
                                                    <td width="165" align="center" style=" background-color:#ffffff; border-right:0px solid;  "  class="trailer">
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <img src="images/I1.png"   ></a><!-- english movie -->
                                                         <!-- <div class="div1">TRAILER 2</div> -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </td>		
                                    </tr>		
                                </tbody>
                            </table>
                           <!--  <table><tr><td height="5"></td></tr></table> -->
                            <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="background:#ffffff;">
                                <tbody>
                                    <tr>
                                        <td    width="100%"><!-- news banner starts-->
                                            <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullImage">
                                            <tbody>
                                                <tr>
                                                    <td height="100" valign="" width="165" align="center" style=" background-color:#2d2d2d; border-right:0px solid;  "  class="logo" >
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <img src="images/a1.png" height="" width=""    >
                                                        <div> NUPUR</div>
                                                        <div>200 points | 130 Reviews</div></a>
                                                                    <!-- news banner -->
                                                    </td> 
                                                    <td height="200" width="335" align="center" style=" background-color:#26d03a; border-right:0px solid;  "  class="none" >
                                                        REVIEWS 
                                                                    <!-- news banner -->
                                                    </td> 
                                                </tr>
                                            </tbody>
                                            </table>
                                        </td>		
                                    </tr>		
                                </tbody>
                            </table>
                           <!--  <table><tr><td height="5"></td></tr></table> --> <!-- balnk space -->
                           
                           <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="background:#ffffff;">
                                <tbody>
                                    <tr>
                                        <td width="100%"><!--news table starts  -->
                                            <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullImage">
                                            <tbody>
                                                <tr> 
                                                    <td width="270" align="" style=" background-color:#aaaaaa; border-right:0px solid;  "  class="logo">
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <img src="images/N1.png"   ></a><!-- news 1 -->
                                                    </td>
                                                    
                                                    <td   width="300" align="center" style=" background-color:#2d2d2d; border-right:0px solid;  "  class="logo"><!-- news 1 text -->
                                                     Yes I can understand that we are still a young start-up but as earlier 
                                                    
                                                    </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </td>		
                                    </tr>		
                                </tbody>
                            </table> <!-- end of the movies heroes -->
                            <!-- <table><tr><td height="5"></td></tr></table> --> <!-- balnk space -->
                            
                            <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="background:#ffffff;">
                                <tbody>
                                    <tr>
                                        <td width="100%"><!--news table starts  -->
                                            <table width="500" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullImage">
                                            <tbody>
                                                <tr> 
                                                    
                                                    
                                                    <td   width="200" align="center" style=" background-color:#2d2d2d; border-right:0px solid;  "  class="logo"><!-- news 1 text -->
                                                     Yes I can understand that we are still a young start-up but as earlier 
                                                    
                                                    </td>
                                                    <td width="300" align="center" style=" background-color:#ffffff; border-right:0px solid;  "  class="logo">
                                                        <a target="_blank" href="http://www.cinebee.in/">
                                                        <img src="images/N2.png"   ></a><!-- news 1 -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </td>		
                                    </tr>		
                                </tbody>
                            </table>
                            <!-- <table><tr><td height="5"></td></tr></table>  --><!-- balnk space -->
                            
                             <!-- end of reviews -->
                           <!--  <table><tr><td height="5"></td></tr></table> --> <!-- balnk space -->
                            
                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="background:#ffffff;">
                                <tbody><!-- footer -->
                                    <tr>
                                        <td width="100%"> 
                                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullImage">
                                            <tbody>
                                                <tr>
                                                    <td width="200" align="center" style=" background-color:#fbfbfb; border-right:0px solid;  "  class="logo" >
                                                        Report Spam 
                                                                     
                                                    </td>
                                                    <td width="8">
                                                    <td width="20" align="center" style=" background-color:#fbfbfb; border-right:0px solid;  "  class=" " >
                                                        <a target="_blank" href="https://www.facebook.com/CineBeeapp/">
                                                        <img src="images/facebook.png"        ></a>
                                                                     
                                                    </td>
                                                    <td width="8">
                                                    <td width="20" align="center" style=" background-color:#fbfbfb; border-right:0px solid;  "  class=" " >
                                                        <a target="_blank" href="https://www.youtube.com/channel/UCr98lsrVPg80RlFXucTdwEw">
                                                        <img src="images/youtube.png"        ></a>
                                                                     
                                                    </td> 
                                                    <td width="8">
                                                    <td width="20" align="center" style=" background-color:#fbfbfb; border-right:0px solid;  "  class=" " >
                                                        <a target="_blank" href="https://twitter.com/CineBee_app">
                                                        <img src="images/twitter.png"        ></a>
                                                                     
                                                    </td> 
                                                    <td width="8">
                                                    <td width="200" align="center" style=" background-color:#fbfbfb; border-right:0px solid;  "  class="logo" >
                                                        UNSUB
                                                                     
                                                    </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </td>		
                                    </tr>		
                                </tbody>
                            </table> <!-- end of footer -->
                        </td>
                    </tr>
                </tbody>
            </table><!-- End Wrapper -->
            <table cellpadding="0" cellspacing="0" border="0" class="hide">
                <tr>
                    <td height="1" class="hide" style="min-width:700px; font-size:0px;line-height:0px;">
                        <img height="1" src=" " style="min-width: 700px; text-decoration: none; border: none; -ms-interpolation-mode: bicubic;" />
                    </td>
                </tr>
            </table>
		</div>
		</td>
        </tr>
    </tbody>
</table>

   
						    


                            
                            
                                    
                                    
                                    
									
                                    
                                    <!-- Col Right -->
									
																
								
						
						<!-- Space -->
						<!-- End Space -->
					
					</td>
				</tr>
			</tbody></table> 
		           
                                   
                                      
                                        
								  
									
									
									
									
								
							
						
						
						
					
